@import "tailwindcss";

/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Yahan hum logo ke professional colors define kar rahe hain */
    --tech-blue: #2A85D1;
    --tech-blue-hover: #1E6BA8;
    --premium-gold: #DDA73C;
    --soft-bg: #E4EBF4;
    --text-dark: #41464d;
  }

  body {
    background-color: var(--soft-bg);
    color: var(--text-dark);
    font-family: 'Inter', sans-serif;
  }
}